* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trirong",sans-serif;
    list-style: none;
    box-sizing: border-box;
}


body{
    display: block;
    height: 100vh;
    /*background: linear-gradient(100deg, black, #8e44ad);*/
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*.container{
max-width: 700px;
width: 100%;
margin-top: 100px;
background: white;
padding: 25px 30px;
border-radius: 5px;
}

.container .title{
    font-weight: 600;
    font-size: larger;
}*/

.wrapper{
    height: 90vh;
    width: 800px;
    margin: 50px auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.links{
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
}

.links ul{
    display: flex;
    justify-content: center;
}

.links ul li{
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.links ul li:hover{
    color: #8e44ad;
}

.view_item img{
    width: 75px;
}

.view_main{
    background: #fff;
    border-radius: 3px;
    padding: 15px;
}

.list-view .view_item{
    border: 1px solid #e2efe1;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.list-view .view_item:last-child{
    margin-bottom: 0;
}

.list-view .view_item .vi_left{
    margin-right: 25px;
}

.view_item .title{
    font-weight: 600;
}

.view_item .content{
    margin: 5px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 200;
}

.view_item .btn{
    width: 125px;
    background: green;
    color: #fff;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.view_item .btn:hover{
    background: lightgreen;
}

.grid-view{
    width: 120%;
}

.grid-view .view_item{
    width: 230px;
    border: 1px solid #e2efe1;
    padding: 25px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}


.grid-view .view_item .vi_left{
    margin-bottom: 10px;
}

.grid-view .view_item .btn{
    margin: 0 auto;
}
/*.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}

.user-details .input-box .details{
/*display: block;
font-weight: 500;
margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #8e44ad;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(120deg, #2980b9, #8e44ad);

}

form .button input:hover{
    background: linear-gradient(120deg,  #8e44ad,#2980b9);
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
}*/